.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 110px;
    padding-block: 80px;
    background-color: #171a21;
    color: white;
    margin-top: 4rem;
}
.footer-heading h2{
    font-size: 5rem;
    margin-bottom: 1rem;
}
.footer-heading h2 span{
    color: #2962ff;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-link h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer-link p {
    color: #bdbdbd;
    margin: 1rem;
    cursor: pointer;
}
.footer-foot p{
    margin-top: 2rem;
}
@media (max-width:750px) {
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 20px;
        padding-block:40px;
        background-color: #171a21;
        color: white;
        margin-top: 4rem;
    }
    .footer-heading h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}
